@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-conveyor:before { content: "\f100"; }
.flaticon-002-coal:before { content: "\f101"; }
.flaticon-003-cosmetic:before { content: "\f102"; }
.flaticon-004-chemicals:before { content: "\f103"; }
.flaticon-005-screwdriver:before { content: "\f104"; }
.flaticon-006-pipe:before { content: "\f105"; }
.flaticon-007-warehouse:before { content: "\f106"; }
.flaticon-008-welder:before { content: "\f107"; }
.flaticon-009-refinery:before { content: "\f108"; }
.flaticon-010-drilling-rig:before { content: "\f109"; }
.flaticon-011-gear:before { content: "\f10a"; }
.flaticon-012-package:before { content: "\f10b"; }
.flaticon-013-windmill:before { content: "\f10c"; }
.flaticon-014-industry:before { content: "\f10d"; }
.flaticon-015-hook:before { content: "\f10e"; }
.flaticon-016-meter:before { content: "\f10f"; }
.flaticon-017-tank:before { content: "\f110"; }
.flaticon-018-security-helmet:before { content: "\f111"; }
.flaticon-019-factory:before { content: "\f112"; }
.flaticon-020-packages:before { content: "\f113"; }
.flaticon-021-wrench:before { content: "\f114"; }
.flaticon-022-food-industry:before { content: "\f115"; }
.flaticon-023-waste-water:before { content: "\f116"; }
.flaticon-024-power-plant:before { content: "\f117"; }
.flaticon-025-plug:before { content: "\f118"; }
.flaticon-026-truck:before { content: "\f119"; }
.flaticon-027-food-industry:before { content: "\f11a"; }
.flaticon-028-forklift:before { content: "\f11b"; }
.flaticon-029-construction-worker:before { content: "\f11c"; }
.flaticon-030-vest:before { content: "\f11d"; }
.flaticon-031-control-panel:before { content: "\f11e"; }
.flaticon-032-cargo-ship:before { content: "\f11f"; }
.flaticon-033-battery:before { content: "\f120"; }
.flaticon-034-gas-mask:before { content: "\f121"; }
.flaticon-035-barrel:before { content: "\f122"; }
.flaticon-036-construction-worker:before { content: "\f123"; }
.flaticon-037-battery:before { content: "\f124"; }
.flaticon-038-industry:before { content: "\f125"; }
.flaticon-039-valve:before { content: "\f126"; }
.flaticon-040-gloves:before { content: "\f127"; }
.flaticon-041-saw:before { content: "\f128"; }
.flaticon-042-scissor-lift:before { content: "\f129"; }
.flaticon-043-oil-tank:before { content: "\f12a"; }
.flaticon-044-oil-pump:before { content: "\f12b"; }
.flaticon-045-factory:before { content: "\f12c"; }
.flaticon-046-container:before { content: "\f12d"; }
.flaticon-047-oil-industry:before { content: "\f12e"; }
.flaticon-048-packages:before { content: "\f12f"; }
.flaticon-049-plan:before { content: "\f130"; }
.flaticon-050-factory:before { content: "\f131"; }